body{
    margin: 0;
}
*{
    scroll-behavior: smooth;
}
header{
    
    height: 3vmax;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.314);
    position:sticky;
    top: 0;
    background-color: #0f1111;
    z-index: 10000;
}
.left{
    
    width: 20%;
    align-self: stretch;
    display:flex;
    justify-content: center;
    transition: all 0.5s;
}
.left > a{
    
    color: rgb(241, 63, 99);
    text-decoration: none;
    font-size: 1.5vmax;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

   
    margin-top: 0.5vmax;
}
.left:hover{
         border: 1px solid white ;
}
.logo > a:hover{
    border: 2px solid white;
    transition: all 0.5s;
}
.mid{
    width: 60%;
    align-self: stretch;
    display: flex;
    justify-content:space-evenly;
}
.mid>a{
    
    text-decoration: none;
    width: 100%;
    font-size: medium;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
  color: rgba(255, 255, 255, 0.927);
 

}
.mid> a:hover{
    border: 2px solid white;
    transition: all 1s;
    
}
.right{
    width: 20%;
    margin-left: 5vmax;
}
.logo{
    font-size: 2vmax; 
    color: rgba(255, 255, 255, 0.841);
}


.home{
    border: 2px solid grey;
    height: 100vh;
    background-image: radial-gradient(rgb(249, 249, 249), rgb(83, 83, 217));
    display: flex;
}
.container{
    height: 100%;
    width: 100%;
    
}
#right-container{
  display: flex;
  justify-content: flex-end;
  transition: all 0.5ms;
  
}
#right-container>img{
    margin: 5vmax;
    filter: drop-shadow(0 0 10px black);

}
#right-container>img:hover{
    transform: translateY(-8px);
}
#left-container{

    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 3vmax;
}
#left-container> h1{
    
    margin-top: 0%;
    font-size: 4vmax;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#left-container> h2{
   
    margin-top: -7%;
    font-size: 2vmax;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#left-container> p{
    margin-left: 2%;
    font-size: 1vmax;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#left-container > button{
    width: 11vmax;
    padding: 1vmax;
    border-radius: 2vmax;
    border: none;
    color: white;
    background-color: crimson;
    cursor: pointer;
    margin-left: 2%;
    margin-top: 5%;
}
#left-container > button:hover{
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.381);
}
#products{
    height: 100vh;
}
#products > h1{
    text-align: center;
    margin: 5vmax auto;
    font-size: 3vmax;
    border-bottom: 4px solid crimson;
    width: 25vw;
    padding: 1vmax;
}

.prod-container{

    display: flex;
    justify-content: center;
    height: 100%;
    width: 100vw;
    flex-wrap: wrap;
    
}
/* --------------------- */
.product1{
    
    height: 30vmax;
    cursor: pointer;
    transition: all 0.3ms;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vmax;

    
}
.product1> img{
    width: 20vw;

   
}
.product1> h3{
    margin: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.product1> h5{
    margin: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.product1:hover{
    transform: translateY(-10px);
}
/*--------------*/
footer{
    margin-top: 35vmax;
    padding: 2vmax;
    display: flex;
    background-color: #0f1111f5;
    color: whitesmoke;
    align-items: center;
}
.left-footer{
    width: 20%;
    
    display: flex;
    flex-direction: column;
    align-items: center;

}
.left-footer>p{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.left-footer>h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.left-footer> img{
    width: 10vmax;
    margin: 0.5vmax;
    cursor: pointer;
}
.mid-footer{
    width: 60%;
    
    text-align: center;
}
.mid-footer>img{
    width: 5vmax;
    height: 5vmax;
    
    
}
.mid-footer>p{
    width: 60%;
    
    padding: 2vmax;
    margin: auto;
    font-size: 1.2vmax;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.right-footer{
    width: 20%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right-footer>h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5vmax;
}
.right-footer> a{
    text-decoration: none;
    color: white;
    margin: 0.5vmax;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1vmax;
}